# Project Title - Analysis on Instagram top 50 most followed account

TODO - Write some introduction about your project here: describe the dataset, where you got it from, what you're trying to do with it, and which tools & techniques you're using. You can also mention about the course [Data Analysis with Python: Zero to Pandas](zerotopandas.com), and what you've learned from it.

### How to run the code

This is an executable [*Jupyter notebook*](https://jupyter.org) hosted on [Jovian.ml](https://www.jovian.ml), a platform for sharing data science projects. You can run and experiment with the code in a couple of ways: *using free online resources* (recommended) or *on your own computer*.

#### Option 1: Running using free online resources (1-click, recommended)

The easiest way to start executing this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. You can also select "Run on Colab" or "Run on Kaggle".


#### Option 2: Running on your computer locally

1. Install Conda by [following these instructions](https://conda.io/projects/conda/en/latest/user-guide/install/index.html). Add Conda binaries to your system `PATH`, so you can use the `conda` command on your terminal.

2. Create a Conda environment and install the required libraries by running these commands on the terminal:

```
conda create -n zerotopandas -y python=3.8 
conda activate zerotopandas
pip install jovian jupyter numpy pandas matplotlib seaborn opendatasets --upgrade
```

3. Press the "Clone" button above to copy the command for downloading the notebook, and run it on the terminal. This will create a new directory and download the notebook. The command will look something like this:

```
jovian clone notebook-owner/notebook-id
```



4. Enter the newly created directory using `cd directory-name` and start the Jupyter notebook.

```
jupyter notebook
```

You can now access Jupyter's web interface by clicking the link that shows up on the terminal or by visiting http://localhost:8888 on your browser. Click on the notebook file (it has a `.ipynb` extension) to open it.

## Downloading the Dataset

We will be downloading the Instagram top 50 most followed dataset from Kaggle.

In [ ]:
!pip install jovian opendatasets --upgrade --quiet

Let's begin by downloading the data, and listing the files within the dataset.

In [1]:
dataset_url = 'https://www.kaggle.com/datasets/hassanshehzadk/top-50-most-followed-instagram-accounts'

In [2]:
import opendatasets as od
od.download(dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: lancelot82
Your Kaggle Key: ········
Downloading top-50-most-followed-instagram-accounts.zip to ./top-50-most-followed-instagram-accounts

100%|██████████| 1.62k/1.62k [00:00<00:00, 1.42MB/s]

The dataset has been downloaded and extracted.

In [24]:
data_dir = './'

In [25]:
import os
os.listdir(data_dir)

['.bashrc',
 '.profile',
 '.bash_logout',
 '.jovian',
 '.local',
 '.jupyter',
 '.cache',
 '.ipython',
 '.ipynb_checkpoints',
 'zerotopandas-course-project.ipynb',
 'work',
 '.config',
 '.conda',
 '.git',
 '.npm',
 '.wget-hsts',
 '.jovianrc']

In [ ]:
from urllib.request import urlretrieve

urlretrieve('https://storage.googleapis.com/jvn/gists/lancelot-gohqk/a1fbe65e4a6b46a799cce038906e5163/raw/640064640fad4823830e1c9d6163681f/top-50-most-followed-instagram-accounts/Top_50_Most_Followed_Instagram_Accounts.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=prod-proxy-user%40jovian.iam.gserviceaccount.com%2F20220624%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20220624T221634Z&X-Goog-Expires=3600&X-Goog-SignedHeaders=host&X-Goog-Signature=76ff3c57696c9b14db698185b3f2f0a88ccda969c73c0b4c876c8a6ca3c30633263eff636e1aab27b0ccebbc380c68c6eb5456cc67c6730eef366f6bcb533fd8e7d069614732fdf8077745e7e78c40bb67382f62f8fea6076012e6a46b663f7a75421573113c952b5b43f65dcc4c6c1e6ee81a5de8bf2662dda1ac33e0bbdd4b206cd5587d180a1ae63698e90c1835e3b913e3c474e47fc2a95a188dc1fb899fe76f082d0c52431457249b929f917870e924e405a5030fd4f1c477a9653222f7ac9545592d1886136da72bd4d70ec1dc2e991892453882f9fd55ff0785e90695faa1af8c2297396c81edff65c29d8eaedd542f703394174b061755fdd6346183')

Let us save and upload our work to Jovian before continuing.

In [5]:
project_name = "zerotopandas-course-project-instagram-top-50"

In [6]:
!pip install jovian --upgrade -q

In [7]:
import jovian

In [ ]:
jovian.commit(project=project_name, outputs='./top-50-most-followed-instagram-accounts/Top 50 Most Followed Instagram Accounts.csv')

## Data Preparation and Cleaning

**TODO** - Write some explanation here.

> Instructions (delete this cell):
>
> - Load the dataset into a data frame using Pandas
> - Explore the number of rows & columns, ranges of values etc.
> - Handle missing, incorrect and invalid data
i> - Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)

In [49]:
insta_top50_df = pd.read_csv('/tmp/tmp2tl9sw42',encoding='latin1')
insta_top50_df

,Rank,Username,Owner,Followers (millions),Profession/Activity,Country/Continent
0,1,@instagram,Instagram,515.0,Social media platform,United States
1,2,@cristiano,Cristiano Ronaldo,450.0,Footballer,Portugal
2,3,@kyliejenner,Kylie Jenner,344.0,"Television personality, model and businesswoman",United States
3,4,@leomessi,Lionel Messi,333.0,Footballer,Argentina
4,5,@selenagomez,Selena Gomez,324.0,"Musician, actress, producer and businesswoman",United States
5,6,@therock,Dwayne Johnson,320.0,Actor and professional wrestler,United States
6,7,@kimkardashian,Kim Kardashian,316.0,"Television personality, model and businesswoman",United States
7,8,@arianagrande,Ariana Grande,314.0,Musician and actress,United States
8,9,@beyonce,Beyoncé,261.0,"Musician, actress and businesswoman",United States
9,10,@khloekardashian,Khloé Kardashian,249.0,Television personality and model,United States
10,11,@kendalljenner,Kendall Jenner,240.0,Model and television personality,United States
11,12,@justinbieber,Justin Bieber,239.0,Musician,Canada
12,13,@natgeo,National Geographic,225.0,Magazine,United States
13,14,@nike,Nike,221.0,Sportswear multinational,United States
14,15,@taylorswift,Taylor Swift,213.0,Musician,United States
15,16,@jlo,Jennifer Lopez,211.0,Musician and actress,United States
16,17,@virat.kohli,Virat Kohli,199.0,Cricketer,India
17,18,@nickiminaj,Nicki Minaj,192.0,Musician,Trinidad and Tobago
18,19,@kourtneykardash,Kourtney Kardashian,182.0,Television personality and model,United States
19,20,@neymarjr,Neymar,175.0,Footballer,Brazil
20,21,@mileycyrus,Miley Cyrus,173.0,Musician and actress,United States
21,22,@katyperry,Katy Perry,163.0,Musician,United States
22,23,@kevinhart4real,Kevin Hart,143.0,Comedian and actor,United States
23,24,@zendaya,Zendaya,143.0,Actress,United States
24,25,@ddlovato,Demi Lovato,133.0,Musician and actor,United States
25,26,@iamcardib,Cardi B,133.0,Musician and actor,United States
26,27,@badgalriri,Rihanna,130.0,Musician and businesswoman,Barbados
27,28,@kingjames,LeBron James,123.0,Basketball player,United States
28,29,@theellenshow,Ellen DeGeneres,121.0,Comedian and television personality,United States
29,30,@realmadrid,Real Madrid CF,119.0,Football club,Spain
30,31,@champagnepapi,Drake,112.0,Musician,Canada
31,32,@chrisbrownofficial,Chris Brown,111.0,Musician,United States
32,33,@fcbarcelona,FC Barcelona,109.0,Football club,Spain
33,34,@billieeilish,Billie Eilish,103.0,Musician,United States
34,35,@championsleague,UEFA Champions League,94.5,Club football competition,Europe
35,36,@dualipa,Dua Lipa,84.0,Musician,United Kingdom
36,37,@gal_gadot,Gal Gadot,81.7,Actress,Israel
37,38,@vindiesel,Vin Diesel,80.7,Actor,United States
38,39,@priyankachopra,Priyanka Chopra,79.0,Actress and musician,India
39,40,@lalalalisa_m,Lisa,78.3,Musician and model,Thailand
40,41,@khaby00,Khaby Lame,78.0,Social media personality,Italy
41,42,@nasa,NASA,77.8,Space agency,United States
42,43,@gigihadid,Gigi Hadid,74.6,Model,United States
43,44,@shakira,Shakira,74.1,Musician,Colombia
44,45,@snoopdogg,Snoop Dogg,73.9,Musician,United States
45,46,@davidbeckham,David Beckham,73.8,Social media personality,United Kingdom
46,47,@victoriassecret,Victoria's Secret,72.8,Lingerie Company,United States
47,48,@shraddhakapoor,Shraddha Kapoor,72.8,Actress,India
48,49,@k.mbappe,Kylian Mbappé,71.4,Footballer,France
49,50,@nehakakkar,Neha Kakkar,70.1,Musician,India

In [96]:
insta_top50_df.info()
insta_top50_df.columns = insta_top50_df.columns.str.replace(' ','')
insta_top50_df.columns = insta_top50_df.columns.str.replace('/','_')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rank                 50 non-null     int64
 1   Username             50 non-null     object
 2   Owner                50 non-null     object
 3   Followers(millions)  50 non-null     float64
 4   Profession_Activity  50 non-null     object
 5   Country_Continent    50 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.5+ KB

In [126]:
popularity_by_profession_df = insta_top50_df.groupby(['Profession_Activity'])['Rank'].count().sort_values(axis=0,ascending=False)
popularity_by_profession_df

Profession_Activity
Musician                                           11
Footballer                                          4
Actress                                             3
Musician and actress                                3
Television personality, model and businesswoman     2
Musician and actor                                  2
Television personality and model                    2
Social media personality                            2
Football club                                       2
Sportswear multinational                            1
Space agency                                        1
Social media platform                               1
Musician, actress, producer and businesswoman       1
Musician, actress and businesswoman                 1
Musician and model                                  1
Musician and businesswoman                          1
Actor                                               1
Actor and professional wrestler                     1
Model                                               1
Magazine                                            1
Lingerie Company                                    1
Cricketer                                           1
Comedian and television personality                 1
Comedian and actor                                  1
Club football competition                           1
Basketball player                                   1
Actress and musician                                1
Model and television personality                    1
Name: Rank, dtype: int64

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Exploratory Analysis and Visualization

**TODO** - write some explanation here.

> Instructions (delete this cell)
> 
> - Compute the mean, sum, range and other interesting statistics for numeric columns
> - Explore distributions of numeric columns using histograms etc.
> - Explore relationship between columns using scatter plots, bar charts etc.
> - Make a note of interesting insights from the exploratory analysis

Let's begin by importing`matplotlib.pyplot` and `seaborn`.

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

Let us save and upload our work to Jovian before continuing

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Asking and Answering Questions

TODO - write some explanation here.

> Instructions (delete this cell)
>
> - Ask at least 5 interesting questions about your dataset
> - Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
> - Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
> - Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does

#### Q1: TODO - ask a question here and answer it below

#### Q2: TODO - ask a question here and answer it below

#### Q3: TODO - ask a question here and answer it below

#### Q4: TODO - ask a question here and answer it below

#### Q5: TODO - ask a question here and answer it below

Let us save and upload our work to Jovian before continuing.

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Inferences and Conclusion

**TODO** - Write some explanation here: a summary of all the inferences drawn from the analysis, and any conclusions you may have drawn by answering various questions.

In [ ]:
import jovian

In [ ]:
jovian.commit()

## References and Future Work

**TODO** - Write some explanation here: ideas for future projects using this dataset, and links to resources you found useful.

> Submission Instructions (delete this cell)
> 
> - Upload your notebook to your Jovian.ml profile using `jovian.commit`.
> - **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
> - Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
> - Share your work on social media (Twitter, LinkedIn, Telegram etc.) and tag [@JovianML](https://twitter.com/jovianml)
>
> (Optional) Write a blog post
> 
> - A blog post is a great way to present and showcase your work.  
> - Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
> - Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
> - Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml

In [ ]:
import jovian

In [ ]:
jovian.commit()