# Project Title - Analysis on Instagram top 1000 Influencer

TODO - Write some introduction about your project here: describe the dataset, where you got it from, what you're trying to do with it, and which tools & techniques you're using. You can also mention about the course [Data Analysis with Python: Zero to Pandas](zerotopandas.com), and what you've learned from it.

### How to run the code

This is an executable [*Jupyter notebook*](https://jupyter.org) hosted on [Jovian.ml](https://www.jovian.ml), a platform for sharing data science projects. You can run and experiment with the code in a couple of ways: *using free online resources* (recommended) or *on your own computer*.

#### Option 1: Running using free online resources (1-click, recommended)

The easiest way to start executing this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. You can also select "Run on Colab" or "Run on Kaggle".


#### Option 2: Running on your computer locally

1. Install Conda by [following these instructions](https://conda.io/projects/conda/en/latest/user-guide/install/index.html). Add Conda binaries to your system `PATH`, so you can use the `conda` command on your terminal.

2. Create a Conda environment and install the required libraries by running these commands on the terminal:

```
conda create -n zerotopandas -y python=3.8 
conda activate zerotopandas
pip install jovian jupyter numpy pandas matplotlib seaborn opendatasets --upgrade
```

3. Press the "Clone" button above to copy the command for downloading the notebook, and run it on the terminal. This will create a new directory and download the notebook. The command will look something like this:

```
jovian clone notebook-owner/notebook-id
```



4. Enter the newly created directory using `cd directory-name` and start the Jupyter notebook.

```
jupyter notebook
```

You can now access Jupyter's web interface by clicking the link that shows up on the terminal or by visiting http://localhost:8888 on your browser. Click on the notebook file (it has a `.ipynb` extension) to open it.

## Downloading the Dataset

We will be downloading the Instagram Global Top 1000 dataset from github.

In [2]:
!pip install jovian opendatasets --upgrade --quiet

Let's begin by downloading the data, and listing the files within the dataset.

In [3]:
dataset_url = 'https://raw.githubusercontent.com/lancelot82/Projects/main/Courses/Jovian/Final%20project/instagram_global_top_1000.csv'

In [4]:
import opendatasets as od
od.download(dataset_url)

Downloading https://raw.githubusercontent.com/lancelot82/Projects/main/Courses/Jovian/Final%20project/instagram_global_top_1000.csv to .\instagram_global_top_1000.csv

163840it [00:00, 2693582.18it/s]

The dataset has been downloaded and extracted.

In [5]:
data_dir = './'

In [6]:
import os
os.listdir(data_dir)

['.ipynb_checkpoints',
 'instagram_global_top_1000.csv',
 'zerotopandas-course-project.ipynb']

Let us save and upload our work to Jovian before continuing.

In [7]:
project_name = "zerotopandas-course-project-instagram-top-1000"

In [8]:
!pip install jovian --upgrade -q

In [9]:
import jovian

In [34]:
jovian.commit(project=project_name, filename='zerotopandas-course-project.ipynb')

[jovian] Updating notebook "lancelot-gohqk/zerotopandas-course-project-instagram-top-1000" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/lancelot-gohqk/zerotopandas-course-project-instagram-top-1000

'https://jovian.ai/lancelot-gohqk/zerotopandas-course-project-instagram-top-1000'

## Data Preparation and Cleaning

We will first create a dataframe from the dataset. We will check the info of the dataframe and clean it if needed.

In [12]:
import pandas as pd
insta_top1000_df = pd.read_csv('instagram_global_top_1000.csv')
insta_top1000_df

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
0,All,1,cristiano,Cristiano Ronaldo,https://www.instagram.com/cristiano/,Sports with a ball,400100000.0,India,7800000.0,9500000.0,2022-02-07 16:50:24.798803
1,All,2,kyliejenner,Kylie ü§ç,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,308800000.0,United States,6200000.0,10100000.0,2022-02-07 16:50:24.798803
2,All,3,leomessi,Leo Messi,https://www.instagram.com/leomessi/,Sports with a ball|Family,306300000.0,Argentina,4800000.0,6500000.0,2022-02-07 16:50:24.798803
3,All,4,kendalljenner,Kendall,https://www.instagram.com/kendalljenner/,Modeling|Fashion,217800000.0,United States,3400000.0,5400000.0,2022-02-07 16:50:24.798803
4,All,5,selenagomez,Selena Gomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,295800000.0,United States,2700000.0,3600000.0,2022-02-07 16:50:24.798803
...,...,...,...,...,...,...,...,...,...,...,...
995,All,996,senoritasaeva,Dina Saeva,https://www.instagram.com/senoritasaeva/,Lifestyle|Music|Modeling,7700000.0,Russia,246600.0,318200.0,2022-02-07 16:50:24.798803
996,All,997,manuelneuer,Manuel Neuer,https://www.instagram.com/manuelneuer/,Sports with a ball,11500000.0,Germany,146500.0,210200.0,2022-02-07 16:50:24.798803
997,All,998,sahilkhan,India‚Äôs Youth & Fitness IC‚≠ïÔ∏èN¬Æ,https://www.instagram.com/sahilkhan/,Fitness|Gym,10100000.0,India,176500.0,239800.0,2022-02-07 16:50:24.798803
998,All,999,mohanshakti,Shakti Mohan,https://www.instagram.com/mohanshakti/,Art|Artists|Cinema|Actors/actresses,13700000.0,India,146400.0,175500.0,2022-02-07 16:50:24.798803
999,All,1000,eduincaz,Eduin Caz,https://www.instagram.com/eduincaz/,Lifestyle,6200000.0,Mexico,305600.0,391900.0,2022-02-07 16:50:24.798803

First we will check the structure of the dataframe

In [31]:
insta_top1000_df.shape

(1000, 11)

We can see that the dataframe contains 1000 rows and 11 columns and we will check to see what are those 11 columns

In [32]:
insta_top1000_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               1000 non-null   object
 1   Rank                  1000 non-null   int64
 2   Account               1000 non-null   object
 3   Title                 983 non-null    object
 4   Link                  1000 non-null   object
 5   Category              909 non-null    object
 6   Followers             1000 non-null   float64
 7   Audience Country      993 non-null    object
 8   Authentic engagement  1000 non-null   float64
 9   Engagement avg        1000 non-null   float64
 10  Scraped               1000 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 86.1+ KB

In [17]:
insta_top1000_df.isna().sum()

Country                  0
Rank                     0
Account                  0
Title                   17
Link                     0
Category                91
Followers                0
Audience Country         7
Authentic engagement     0
Engagement avg           0
Scraped                  0
dtype: int64

We see that the dataset contains some null values and we will create another dataframe to see what are those rows that contain null values

In [27]:
null_df = insta_top1000_df[insta_top1000_df.isna().any(axis=1)]
null_df

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
15,All,16,abcdefghi__lmnopqrstuvwxyz,Jungkook,https://www.instagram.com/abcdefghi__lmnopqrst...,NaN,32100000.0,United States,13400000.0,13400000.0,2022-02-07 16:50:24.798803
16,All,17,khaby00,Khaby Lame,https://www.instagram.com/khaby00/,NaN,69200000.0,Iran,4000000.0,6100000.0,2022-02-07 16:50:24.798803
20,All,21,thv,V,https://www.instagram.com/thv/,NaN,34100000.0,NaN,10400000.0,10400000.0,2022-02-07 16:50:24.798803
25,All,26,jin,Jin of BTS,https://www.instagram.com/jin/,NaN,28400000.0,United States,11100000.0,11100000.0,2022-02-07 16:50:24.798803
26,All,27,agustd,SUGA of BTS ÎØºÏú§Í∏∞,https://www.instagram.com/agustd/,NaN,27900000.0,NaN,10600000.0,10600000.0,2022-02-07 16:50:24.798803
...,...,...,...,...,...,...,...,...,...,...,...
950,All,951,you_r_love,·ÑÄ·Öµ·Ü∑·Ñã·Ö≤·Ñå·Ö•·Üºüá∞üá∑,https://www.instagram.com/you_r_love/,NaN,5300000.0,Indonesia,379900.0,485000.0,2022-02-07 16:50:24.798803
964,All,965,chloebailey,ChloÃàe,https://www.instagram.com/chloebailey/,NaN,4600000.0,United States,281900.0,555000.0,2022-02-07 16:50:24.798803
968,All,969,caviarmagnat,by Tregubov,https://www.instagram.com/caviarmagnat/,NaN,11900000.0,Russia,147400.0,215200.0,2022-02-07 16:50:24.798803
971,All,972,nozeworld,no:ze | ·ÑÇ·Ö©·Ñå·Ö¶,https://www.instagram.com/nozeworld/,NaN,3200000.0,South Korea,637000.0,779700.0,2022-02-07 16:50:24.798803
975,All,976,loud_thurzin,Arthur Fernandes,https://www.instagram.com/loud_thurzin/,NaN,6800000.0,Brazil,281200.0,377600.0,2022-02-07 16:50:24.798803

In [ ]:
import jovian

In [33]:
jovian.commit()

[jovian] Error: Failed to read the Jupyter notebook. Please re-run this cell to try again. If the issue persists, provide the "filename" argument to "jovian.commit" e.g. "jovian.commit(filename='my-notebook.ipynb')"

## Exploratory Analysis and Visualization

**TODO** - write some explanation here.

> Instructions (delete this cell)
> 
> - Compute the mean, sum, range and other interesting statistics for numeric columns
> - Explore distributions of numeric columns using histograms etc.
> - Explore relationship between columns using scatter plots, bar charts etc.
> - Make a note of interesting insights from the exploratory analysis

Let's begin by importing`matplotlib.pyplot` and `seaborn`.

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

Let us save and upload our work to Jovian before continuing

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Asking and Answering Questions

TODO - write some explanation here.

> Instructions (delete this cell)
>
> - Ask at least 5 interesting questions about your dataset
> - Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
> - Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
> - Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does

#### Q1: TODO - ask a question here and answer it below

#### Q2: TODO - ask a question here and answer it below

#### Q3: TODO - ask a question here and answer it below

#### Q4: TODO - ask a question here and answer it below

#### Q5: TODO - ask a question here and answer it below

Let us save and upload our work to Jovian before continuing.

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Inferences and Conclusion

**TODO** - Write some explanation here: a summary of all the inferences drawn from the analysis, and any conclusions you may have drawn by answering various questions.

In [ ]:
import jovian

In [ ]:
jovian.commit()

## References and Future Work

**TODO** - Write some explanation here: ideas for future projects using this dataset, and links to resources you found useful.

> Submission Instructions (delete this cell)
> 
> - Upload your notebook to your Jovian.ml profile using `jovian.commit`.
> - **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
> - Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
> - Share your work on social media (Twitter, LinkedIn, Telegram etc.) and tag [@JovianML](https://twitter.com/jovianml)
>
> (Optional) Write a blog post
> 
> - A blog post is a great way to present and showcase your work.  
> - Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
> - Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
> - Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml

In [ ]:
import jovian

In [ ]:
jovian.commit()